.header {
  display: flex;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 3rem;
  width: 4.95rem;
  fill: transparent;
  background-image: url("../../images/sw_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      //margin-right: 0.5rem;
    }
  }

  &__link {
    display: inline-block;
    padding: 0.4rem;
    line-height: 1.5rem;
    text-decoration: none;
    color: inherit;
    &.active {
      text-decoration: underline;
      color: orange;
    }
  }
}



